[prj]
# detik, waktu untuk menentukan stabil
#/tmp/usb_virtual_rx # untuk testing lampu, harus jalankan virtual_usb.py dulu
#/tmp/scale_rx # untuk testing timbangan, harus jalankan virtual_scale.py dulu
# url_api="http://php8.local/murti/api.php"
stable_time=
usb_lamp_port=
usb_scale_port=
url_api=
key_api=